.card{
    max-width: 300px;
    max-height: 400px;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    margin:0.2rem 0.2rem;

    .readMore{
        padding: 0.2rem 0.3rem;
        border: 0px;
        cursor: pointer;
        color: var(--white);
        margin: 0.4rem;
        display: inline-block;
        transition: width 1s;
    }
    .desktop,.tablet,.mobile{
        color: var(--white);
    }
    .desktop{
        background-color: var(--red);
    }
    .tablet{
        background-color: var(--yellow);
    }
    .mobile{
        background-color: var(--purple);
    }
    .thumb{
        padding: 0.8rem 0.3rem;
        span{
            text-transform: uppercase;
        }
    }
    > p {
        color:var(--grey);
        margin: 0.1rem 0.1rem;
        font-size: 0.8rem;
        padding:0.2rem 0.4rem;
        text-align: justify;
        font-weight: 400;
        transition: max-height 1s;
        /* transition: height 3s;
        transform-origin: top left;
        animation: ease-in 2s */
        overflow: hidden;
        max-height: 100px;
        strong{
            font-weight: 700;
        }
    }
    .actions{
        text-align: right;
    }
    
}
@keyframes height {
    from { height: 0; }
    to   { height: auto; }
}
.blackFriday{
    .tag{
        background: var(--yellow);
        border:2px solid var(--white);
        border-radius: 3px;
        label{
            color:#000;
            font-weight: 800;
        }
    }
}
@media only screen and (max-width: 768){

}
@media only screen and (max-width:480px){
    .card{
        > p{
            font-size: 1.1rem;
        }
    }
}



