.description {
  text-align:center;

   h1{
       font-weight: 400;
       font-size: 4rem;
       strong{
        font-weight: 800;
       }
       color: var(--green);
   }
   .shortText{
        font-size: 2rem;
        color:var(--grey);
        width:100%;
        text-align: center;
    
        .colors{
            &:before{
                content: "\2022";
                font-size: 2.5rem;
                line-height: 2.5rem;
                vertical-align: bottom;
            }
            &.purple{
                &:before{
                color: var(--purple);
                }
            }
            &.green{
                &:before{
                color: var(--green);
                }
            }
            &.red{
                &:before{
                color: var(--red);
                }
            }
            &.yellow{
                &:before{
                color: var(--yellow);
                }
            }
            &.gray{
                &:before{
                color: var(--gray);
                }
            }
        }
        
   }
   
}
@media only screen and (max-width:768px){
   .description{
        max-width: 100%;
        h1{
            font-size: 3rem;
        }
        .shortText{
            font-size:1.5rem;
            span{
                display: inline-flex;
                align-items: baseline;
            }
         }
    }
}
@media only screen and (max-width:480px){
    .description{
        max-width: 100%;
         h1{
             font-size: 1.8rem;
         }
     }
     .shortText{
        font-size:1.5rem;
        span{
            display: inline-flex;
            align-items: baseline;
        }
     }
 }
 .blackFriday{
    --green:#000 !important;
 }