.footer {
    width: 100%;
    text-align: left;
    margin-top: 0;
    ul{
        margin-left: 0;
        list-style-type: none;
        margin-top: 0;
        padding-left: 0;

        li{
            text-transform: uppercase;
            display: inline-block;
            padding: 0rem 0.3rem;
        }
    }
}
@media only screen and (max-width: 480px){
    .footer{
        max-width: 100%;
        ul{
            justify-content: space-around;
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
            li{
                display: inline-flex;
            }
        }
    }
}
