
.popup{
   position: relative;
   max-width: 25rem;
   min-height: 100px;
   background-color:var(--white);
   border-radius: 8px;
   margin: 0 auto;
   padding: 10px 20px;
}
.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left:0;
    vertical-align: middle;
    display: flex;
  align-items: center;
  justify-content: center;
}
.popup h2{
    color:var(--green);
    text-align: center;
}
.popup button{
    background-color:var(--yellow);
    border: 0px;
    border-radius: 2px;
    color:var(--white);
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    align-items: flex-end;
}