.topMenu {
    width: 100%;
    text-align: right;
    a{
        color:var(--green);
        font-weight: 400;
        font-size: 1.1Rem;
        text-decoration: none;
    }
    ul{
        margin-left: 0;
        list-style-type: none;
        li{
            text-transform: uppercase;
            display: inline-block;
            padding: 0.2rem 0.3rem;
        }
    }
}
@media only screen and (max-width:768px){
    .topMenu{
        margin-right: 0.5rem;
        a{
            font-size: 0.9Rem;
        }
    }
  }
@media only screen and (max-width: 480px){
    .topMenu{
        width: 100%;
        text-align: center;
        ul{
            padding-left: 0;
        }
    }
} 
