:root{
  --grey: #868686;
  --green:#007F56;
  --white:#FFF;
  --red:#FE9481;
  --yellow:#FCDA92;
  --purple:#9C8CB9; 
}

body{
  background-image: url(./static/images/bg.jpg) ;
  background-repeat: repeat;
}
.container{
     clear: both;
     max-width:1200px;
     margin:0 auto;
}
.container > .rows > div{
  transition: width 1s ;
  transition: max-width 1s ;
}

.rows{
  display: flex;
  width: 100%;
  clear: both;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-1{
  width: 100%;
  display: inline-flex;
  grid-gap: 1rem;

}
.col-2,.menu,div.logo{
  width: 50%;
  display: inline-flex;
}
.menu,.logo{
  width: auto;
}
.col-3{
  display: inline-flex;
  max-width: 33.3333%;
  width: auto;
}
.col-4{
  
  display: inline-flex;
  width: 33.3333%;
}

button{
  cursor: pointer;
}
.LeftAlign{
  text-align: left;
}
.RightAlign{
  text-align: right;
}

footer{
  .rows{
    justify-content: space-between;
    display: inline-flex;
  }
  .icons{
    width: 30rem;
    display: inline-flex;
  }
  .copyrights{
    width: 15rem;
    display: inline-flex;

    span{
      font-size: 0.8rem;
      color: var(--grey);
      vertical-align: top;
      line-height: 1rem;
      display: inline-block;
    }
  }
  .footerLogo{
    width: auto;
    display: inline-flex;

  }
  margin-top: 1rem;
}
@media only screen and (max-width:768px){
  .container{
    max-width: 768px;
  }
  header div.logo{
    width: auto;
  }

  main .col-3{
    flex: 1 0 50%;
    max-width: none;
    justify-content: center;
    margin-bottom: 1rem;
  }


}
@media only screen and (min-width: 481px) and (max-width: 767px){
  
}
@media only screen and (max-width: 480px){
  .container, footer .icons{
    max-width: 100%;
  }
  div.logo{
    width: 6.5rem;
  }
  img.logo,.menu{
    width: 100%;
  }
  .col-1,.col-2,.col-3,.col-4{
    width: 100%;
  }
  footer .rows > .copyrights{
    order: 2;

  }
  footer .rows > .icons{
    order: 1;
  }
  footer .rows > .footerLogo{
    order: 2;
  }
}
.blackFriday{
   --grey: #222020;
   --green:rgb(41, 39, 39);
   --white:#FFF;
   --red:#5f1103;
   --yellow:#f8b72a;
   --purple:#8c53f7;
}
.tag {
  background-color: var(--yellow);
  width: 18rem;
  display: inline-block;
  text-align: center;
  transform: rotate(-45deg);
  position: fixed;
  left: -3.5rem;
  top: 3.5rem;
}
.tag label {
  font-size: 2rem;
  font-weight: 800;
}
